* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    filter: grayscale(100%);
}

body {
    background-color: #e2e2e2;
    font-family: arial, verdana, helvetica sans-serif;
}

.portfolio {
    max-width: 70%;
    width: 70%;
    margin: auto;
}

.portfolio h1 {
    text-align: center;
    font-size: 38px;
    margin: 15px 0 40px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 25%;
    height: 400px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px;
    border-radius: 3px;
}

.pic {
    transition: all 0.5s;
}

.text {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transform: translateY(100%);
    transition: all 0.5s ease-out;
}

.text p {
    text-align: justify;
}

.item:hover .text {
    transform: translateY(0%);
}

.item:hover .pic {
    filter: grayscale(0%);
    transform: scale(1.15);
}